.button {
  display: inline-block;
  cursor: pointer;
  padding: 15px 25px;
  background-color: rgba(4, 4, 53, 0.4);
  color: rgba(255, 255, 255, 0.651);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;

  &--back {
    left: 0;

    &:active {
      background-color: rgba(224, 21, 62, 0.6);;
      transform: translate(-30px, -50%);
      transition: transform 200ms;
    }
  }

  &--next {
    right: 0;

    &:active {
      background-color: rgba(224, 21, 62, 0.6);
      transform: translate(30px, -50%);
      transition: transform 200ms;
    }
  }
}
